 

.SubPostContainer{
    width: 95%;
    background-color: white;
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 10px;
}

.PostImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.PostImages{
    width: 420px;
    height: 420px;
    object-fit: contain;
    border-radius: 10px;
}

.iconsforpost{
    width: 20px;
    
}

.moreicons{
    width: 30px;
    margin-left: 340px;
}

.commentinput{
    width: 22pc;
    margin-left: 10px;
    border: none;
}

.addcommentbtn{
    padding: 7px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 6px;
    margin-left: 20px;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 40px;
}
